body {
  background-color: #242c3e;

  .container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    h1 {
      color: #fff;
      margin-bottom: 100px;
      text-align: center;
    }

    caption {
      width: 100%;
      display: block;
      /* margin-top: 30px; */
      padding: 30px 0 50px;
      color: #fff;
    }

    .video-preview {
      margin: 0 auto;
      display: block;
      padding-top: 50px;
      width: 100%;
      max-width: 800px;
    }
  }
}
