body {
  background-color: #242c3e;

  .container {
    padding-top: 152px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    h1 {
      color: #fff;
      margin-bottom: 100px;
      text-align: center;
    }

    .video-preview {
      margin: 0 auto;
      display: block;
      padding-top: 100px;
      width: 100%;
      max-width: 800px;
    }
  }
}
