body {
    background-color: #242c3e;

    .container {
        padding-top: 252px;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;

        h1 {
            color: #fff;
        }
    }
}